/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.agridator-body {
  max-width: 45rem;
  margin: auto;
}

.agridator-content {
  padding: 0.50rem;
}

h1 {
  color: #61775e;
  font-size: 2.25rem !important;
  padding-top: 0.50rem;
}

.mat-icon {
  color: #61775e;
  width: 48px !important;
  height: 48px !important;
  font-size: 48px;
}

.mat-mdc-checkbox.mat-accent{
    --mdc-checkbox-selected-focus-icon-color: #61775e;
    --mdc-checkbox-selected-hover-icon-color: #61775e;
    --mdc-checkbox-selected-icon-color: #61775e;
    --mdc-checkbox-selected-pressed-icon-color: #61775e;
    --mdc-checkbox-focus-icon-color: #61775e;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #61775e;
}



.animation {
  max-width: 100%;
  margin-top: 2rem;
}
