.btn-big-circle 
{
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    box-shadow: 0px 0px 5px rgba(0.5,0.5,0.5,0.3) ;
    color: rgba(0.3,0.3,0.3);
    border: none;
    outline: none;
    transition: background-color 0.3s;
    mat-icon {
        transition: color 0.3s;
    }
}

.playing 
{
    background-color: red;
    mat-icon 
    {
        color:white;
    }
}

.button-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

mat-divider {
    margin: 2rem 0 !important;
  
}

.nav-bar 
{
    margin-top: auto;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.animation 
{
    margin-bottom: 2rem;
}

*:host {
    height: 100%;
}