<style>

</style>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" hintLabel="Feld auswählen">
      <mat-label>Feld</mat-label>
      <mat-select matNativeControl name="field" formControlName="field">
        <mat-option [value]="item.key" *ngFor="let item of ownedFields">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container formArrayName="actions" *ngFor="let actionForm of actions.controls; let i = index">
      <mat-checkbox [formControlName]="i" (change)="toggleAdditionalOptions($event)"
        [value]="workTypes[i].key">{{workTypes[i].value}}</mat-checkbox>
    </ng-container>

    <mat-divider *ngIf="showFertilizerList"></mat-divider>
    <mat-form-field *ngIf="showFertilizerList" appearance="fill" hintLabel="Düngemittel auswählen">
      <mat-label>Düngemittel</mat-label>
      <mat-select matNativeControl name="fertilizer" formControlName="fertilizer">
        <mat-option [value]="item.key" *ngFor="let item of fertilizers">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider *ngIf="showPlantProtectionProducts"></mat-divider>
    <mat-form-field *ngIf="showPlantProtectionProducts" appearance="fill" hintLabel="Pflanzenschutzmittel auswählen">
      <mat-label>Pflanzenschutzmittel</mat-label>
      <mat-select matNativeControl name="plantProtectionProduct" formControlName="plantProtectionProduct">
        <mat-option [value]="item.key" *ngFor="let item of plantProtectionProducts">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="nav-bar">
      <button mat-raised-button color="primary" type="submit" style=" align-self: flex-end;"
        [disabled]="!form.valid">Weiter</button>
    </div>
  </form>
</div>