.container 
{
    height: 100%;
}

.container form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-divider {
    margin: 2rem 0 !important;
  
}

.nav-bar 
{
    margin-top: auto;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

*:host {
    height: 100%;
}

.field-header 
{
    font-size: 1.25rem;
    margin: 1.5rem 0;
}