<style>
    .container form {
      display: flex;
      flex-direction: column;
    }
  </style>
  <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" hintLabel="Feld auswählen">
          <mat-label>Feld</mat-label>
          <mat-select matNativeControl name="field" formControlName="field">
            <mat-option [value]="item.key" *ngFor="let item of ownedFields">{{item.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container formArrayName="actions" *ngFor="let actionForm of actions.controls; let i = index">
              <mat-checkbox [formControlName]="i"  [value]="workTypes[i].key">{{workTypes[i].value}}</mat-checkbox>
        </ng-container>
  
        <div mat-dialog-actions align="end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Weiter</button>
        </div>

      </form>
  </div>