<h1>Settings</h1>
<div class="agridator-content" fxLayout="column">

    <!-- Beispiel um Übersetzungen einzubinden:-->
<!-- <p>{{'pre-tracking.WelcomeText' | translate}} </p> -->

<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayoutAlign="start" fxLayoutGap="0.5rem">
      <div>
        <button mat-raised-button (click)="useLanguage('de')">de</button>
      </div>
      <div>
        <button mat-raised-button (click)="useLanguage('fr')">fr</button>
      </div>
      <div>
        <button mat-raised-button (click)="useLanguage('it')">it</button>
      </div>
    </div>
    <div fxLayoutAlign="end">

</div>