<div class="agridator-content" fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayoutAlign="start" fxLayoutGap="0.5rem">
      <div>
        <a (click)="home()">
          <mat-icon>agriculture</mat-icon>
        </a>
      </div>
      <div>
        <a (click)="feldkalender()">
          <mat-icon>event_note</mat-icon>
        </a>
      </div>
    </div>
    <div fxLayoutAlign="end">
      <div>
        <a (click)="settings()">
          <mat-icon>settings</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
