<div class="agridator-content" fxLayout="column">
  <router-outlet></router-outlet>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayoutAlign="start" fxLayoutGap="0.5rem"  class="mid-icon">
      <div>
        <a (click)="feldkalender()">
          <mat-icon>event_note</mat-icon>
        </a>
      </div>
    </div>
    <div>
      <a (click)="home()">
        <h1>Agridator</h1>
        <!-- <mat-icon>agriculture</mat-icon> -->
      </a>
    </div>
    <div fxLayoutAlign="end" class="mid-icon">
      <div>
        <a (click)="settings()">
          <mat-icon>settings</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <mat-card id="main" >
    <router-outlet ></router-outlet>
  </mat-card>
</div>
