<style>
    .container div {
      display: flex;
      flex-direction: row;
    }

    p.thick {
        font-weight: bold;
    }

</style>

<div>
    <h1>Aufzeichnung</h1> 
    <div class="container">
        <div>
            <p class="thick">Feld:</p>
            <p style="margin-left: 5px;" >{{config.field}}</p>
        </div>

        <div>
            <p class="thick">Düngemittel:</p>
            <p style="margin-left: 5px;" >{{config.fertilizer}}</p>
        </div>

        <div>
            <p class="thick">Pflanzenschutzmittel:</p>
            <p style="margin-left: 5px;" >{{config.plantProtectionProduct}}</p>
        </div>
        
        
       
    </div>

    <h2>Config</h2> 
    {{config | json}}
    <h2>Geo-Daten</h2> 
    {{points | json}}

    <div class="nav-bar">
        <button mat-raised-button color="primary" type="submit" style=" align-self: flex-end;" (click)="moveToCalendar()">Speichern</button>
    </div>
    
</div>