<style>
    .container div {
      display: flex;
      flex-direction: row;
    }

    p.thick {
        font-weight: bold;
    }

</style>

<div>
    <h1>{{'post-tracking.Records' | translate}}</h1> 
    <div class="container">
        <div>
            <p class="thick">{{'pre-tracking.PlantsFields' | translate}}:</p>
            <p style="margin-left: 5px;" >{{config?.field}}</p>
        </div>

        <div>
            <p class="thick">{{'pre-tracking.Fertilizer' | translate}}:</p>
            <p style="margin-left: 5px;" >{{config?.fertilizer}}</p>
        </div>

        <div>
            <p class="thick">{{'pre-tracking.PlantProtection' | translate}}:</p>
            <p style="margin-left: 5px;" >{{config?.plantProtectionProduct}}</p>
        </div>
        
        
       
    </div>

    <h2>Config</h2> 
    {{config | json}}
    <h2>Geo-Data</h2> 
    <google-map  width="100%"[center]="center" (mapInitialized)="onMapReady($event)" #map></google-map>


    <div class="nav-bar">
        <button mat-raised-button color="primary" type="submit" style=" align-self: flex-end;" (click)="moveToCalendar()">{{'Button.Save' | translate}}</button>
    </div>

</div>